<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Settings</title>
</head>
<body>
    <div id="container">
        <header>
            <h1> Welcome {{user.first_name}}</h1>
            <span>
                <a href="/dashboard">Dashboard</a>
                <a href="/logout">Logout</a>
            </span>
        </header>
        <h2>Saved Logins</h2>
        <table>
        {% for login in user.login_infos %}
            <tr>
                <td>{{login.website}}</td>
                <td>{{login.username}}</td>
            </tr>
        {% endfor %}
        </table>
        <h2>Add New Login</h2>
        <form action="/login_info/add" method="POST">
            <label>Website URL:</label>
            <input type="text"><br>
            <label>Username: </label>
            <input type="text" name="username"><br>
            <label>Password: </label>
            <input type="text" name="password"><br>
            <input type="submit" value="submit">
        </form>
    </div>
</body>
</html>